<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod = "30 seconds">
    <property name="moduleId" value="testproject_spring_boot"/>
    <property name="type" value="testproject"/>
    <property name="logback" value="logback"/>
    <property name="logdir" value="D:/Workspace/LogFiles"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] %logger{30} %msg%n</pattern>
            //%logger{30} --글자수 제한
        </encoder>
    </appender>

    <root level = "INFO"> //INFO 레벨까지 출력해라
        <appender-ref ref="console"/>
    </root>
</configuration>
